In [1]:
import pandas as pd

In [2]:
import math
b = math.nan

def isNaN(num):
    return num != num
print(isNaN(b))

True

In [3]:
custDF = pd.read_csv("../data_convert/CNTTconvert.csv",  sep=',', encoding = 'utf-8')

In [4]:
custDF = custDF.drop(custDF.index[0])

In [5]:
custDF

,POLY_NO,CUST_ID,CUST_ROLE,IRKD_CODE_DTAL,IRKD_CODE_ITEM,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,...,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
1,2,5658,1,1550,10,일반종신,200306,5900.0,15,1,...,999912.0,200809.0,NaN,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,1257,21,일반연금,200307,5778.0,5,1,...,999912.0,200605.0,200605.0,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,1550,10,일반종신,200306,4553.0,15,1,...,999912.0,201104.0,NaN,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,1268,18,어린이,200306,3366.0,10,1,...,202706.0,NaN,NaN,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0
5,6,10519,2,1259,21,보장,200306,31270.0,10,1,...,206106.0,NaN,NaN,1.0,30000000.0,61900.0,0.0,0.0,500000.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113005,112765,12297,1,1267,1,보장,200204,4033.0,10,2,...,201204.0,200205.0,NaN,1.0,10000000.0,33600.0,0.0,0.0,0.0,3.0
113006,112766,9296,1,1256,27,일반종신,200204,4023.0,20,2,...,999912.0,200602.0,200602.0,1.0,50000000.0,154250.0,0.0,0.0,0.0,8.0
113007,112767,20517,1,1267,1,보장,200204,4033.0,10,2,...,202204.0,NaN,NaN,1.0,10000000.0,90100.0,0.0,0.0,0.0,7.0
113008,112768,1316,1,1228,13,일반연금,200204,2309.0,10,2,...,999912.0,200812.0,200508.0,1.0,2461560.0,20513.0,0.0,0.0,0.0,NaN
113009,112769,20760,1,1259,19,보장,200204,2217.0,10,2,...,203104.0,NaN,NaN,1.0,10000000.0,52000.0,0.0,0.0,0.0,0.0

In [6]:
custDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113009 entries, 1 to 113009
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   POLY_NO         113009 non-null  int64
 1   CUST_ID         113009 non-null  int64
 2   CUST_ROLE       113009 non-null  int64
 3   IRKD_CODE_DTAL  113009 non-null  int64
 4   IRKD_CODE_ITEM  113009 non-null  int64
 5   GOOD_CLSF_CDNM  113009 non-null  object
 6   CNTT_YM         113009 non-null  int64
 7   CLLT_FP_PRNO    112927 non-null  float64
 8   REAL_PAYM_TERM  113009 non-null  int64
 9   SALE_CHNL_CODE  113009 non-null  int64
 10  CNTT_STAT_CODE  112927 non-null  object
 11  EXPR_YM         112927 non-null  float64
 12  EXTN_YM         58793 non-null   float64
 13  LAPS_YM         21381 non-null   float64
 14  PAYM_CYCL_CODE  112927 non-null  float64
 15  MAIN_INSR_AMT   112927 non-null  float64
 16  SUM_ORIG_PREM   112927 non-null  float64
 17  RECP_PUBL       112925 non-null  float64
 18  CNTT_RECP       112925 non-null  float64
 19  MNTH_INCM_AMT   112927 non-null  float64
 20  DISTANCE        102453 non-null  float64
dtypes: float64(11), int64(8), object(2)
memory usage: 19.0+ MB

In [7]:
#결측치 개수 확인
custDF.isnull().sum()
# CLLT_FP_PRNO, CNTT_STAT_CODE, CNTT_STAT_CODE 등 결측치 값이 같은 column들이 존재 하기 때문에 
# 같은 row 일 가능성이 있음.

POLY_NO               0
CUST_ID               0
CUST_ROLE             0
IRKD_CODE_DTAL        0
IRKD_CODE_ITEM        0
GOOD_CLSF_CDNM        0
CNTT_YM               0
CLLT_FP_PRNO         82
REAL_PAYM_TERM        0
SALE_CHNL_CODE        0
CNTT_STAT_CODE       82
EXPR_YM              82
EXTN_YM           54216
LAPS_YM           91628
PAYM_CYCL_CODE       82
MAIN_INSR_AMT        82
SUM_ORIG_PREM        82
RECP_PUBL            84
CNTT_RECP            84
MNTH_INCM_AMT        82
DISTANCE          10556
dtype: int64

In [8]:
# 우선 FPINFO 값이 없는 row를 기준으로 제거
custDF.dropna(subset = ['CLLT_FP_PRNO'], inplace= True)

In [9]:
custDF.isnull().sum()
# 대다수의 결측치 제거 확인

POLY_NO               0
CUST_ID               0
CUST_ROLE             0
IRKD_CODE_DTAL        0
IRKD_CODE_ITEM        0
GOOD_CLSF_CDNM        0
CNTT_YM               0
CLLT_FP_PRNO          0
REAL_PAYM_TERM        0
SALE_CHNL_CODE        0
CNTT_STAT_CODE        0
EXPR_YM               0
EXTN_YM           54134
LAPS_YM           91546
PAYM_CYCL_CODE        0
MAIN_INSR_AMT         0
SUM_ORIG_PREM         0
RECP_PUBL             2
CNTT_RECP             2
MNTH_INCM_AMT         0
DISTANCE          10474
dtype: int64

In [10]:
custDF.dropna(subset = ['RECP_PUBL'], inplace= True)

In [11]:
custDF.isnull().sum()

POLY_NO               0
CUST_ID               0
CUST_ROLE             0
IRKD_CODE_DTAL        0
IRKD_CODE_ITEM        0
GOOD_CLSF_CDNM        0
CNTT_YM               0
CLLT_FP_PRNO          0
REAL_PAYM_TERM        0
SALE_CHNL_CODE        0
CNTT_STAT_CODE        0
EXPR_YM               0
EXTN_YM           54133
LAPS_YM           91544
PAYM_CYCL_CODE        0
MAIN_INSR_AMT         0
SUM_ORIG_PREM         0
RECP_PUBL             0
CNTT_RECP             0
MNTH_INCM_AMT         0
DISTANCE          10474
dtype: int64

In [12]:
# 의미없는 column 제거
custDF.drop(['IRKD_CODE_DTAL'], axis=1, inplace = True)
custDF.drop(['IRKD_CODE_ITEM'], axis=1, inplace = True)

In [13]:
custDF.isnull().sum()

POLY_NO               0
CUST_ID               0
CUST_ROLE             0
GOOD_CLSF_CDNM        0
CNTT_YM               0
CLLT_FP_PRNO          0
REAL_PAYM_TERM        0
SALE_CHNL_CODE        0
CNTT_STAT_CODE        0
EXPR_YM               0
EXTN_YM           54133
LAPS_YM           91544
PAYM_CYCL_CODE        0
MAIN_INSR_AMT         0
SUM_ORIG_PREM         0
RECP_PUBL             0
CNTT_RECP             0
MNTH_INCM_AMT         0
DISTANCE          10474
dtype: int64

In [14]:
custDF['EXPR_YM'].replace(999912, int(1), inplace = True)

In [15]:
custDF

,POLY_NO,CUST_ID,CUST_ROLE,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,CNTT_STAT_CODE,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
1,2,5658,1,일반종신,200306,5900.0,15,1,B,1.0,200809.0,NaN,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,일반연금,200307,5778.0,5,1,B,1.0,200605.0,200605.0,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,일반종신,200306,4553.0,15,1,B,1.0,201104.0,NaN,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,어린이,200306,3366.0,10,1,2,202706.0,NaN,NaN,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0
5,6,10519,2,보장,200306,31270.0,10,1,2,206106.0,NaN,NaN,1.0,30000000.0,61900.0,0.0,0.0,500000.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113005,112765,12297,1,보장,200204,4033.0,10,2,I,201204.0,200205.0,NaN,1.0,10000000.0,33600.0,0.0,0.0,0.0,3.0
113006,112766,9296,1,일반종신,200204,4023.0,20,2,B,1.0,200602.0,200602.0,1.0,50000000.0,154250.0,0.0,0.0,0.0,8.0
113007,112767,20517,1,보장,200204,4033.0,10,2,2,202204.0,NaN,NaN,1.0,10000000.0,90100.0,0.0,0.0,0.0,7.0
113008,112768,1316,1,일반연금,200204,2309.0,10,2,B,1.0,200812.0,200508.0,1.0,2461560.0,20513.0,0.0,0.0,0.0,NaN
113009,112769,20760,1,보장,200204,2217.0,10,2,3,203104.0,NaN,NaN,1.0,10000000.0,52000.0,0.0,0.0,0.0,0.0

In [16]:
print(type(custDF['EXPR_YM'][1]))

<class 'numpy.float64'>

In [17]:
# 만기년월 값, 종신여부로 구분 (종신의 경우 1 아니면 0)
custDF['EXPR_YM'] = custDF['EXPR_YM'].apply(lambda x: 1 if x==1 else 0)

In [18]:
custDF

,POLY_NO,CUST_ID,CUST_ROLE,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,CNTT_STAT_CODE,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
1,2,5658,1,일반종신,200306,5900.0,15,1,B,1,200809.0,NaN,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,일반연금,200307,5778.0,5,1,B,1,200605.0,200605.0,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,일반종신,200306,4553.0,15,1,B,1,201104.0,NaN,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,어린이,200306,3366.0,10,1,2,0,NaN,NaN,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0
5,6,10519,2,보장,200306,31270.0,10,1,2,0,NaN,NaN,1.0,30000000.0,61900.0,0.0,0.0,500000.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113005,112765,12297,1,보장,200204,4033.0,10,2,I,0,200205.0,NaN,1.0,10000000.0,33600.0,0.0,0.0,0.0,3.0
113006,112766,9296,1,일반종신,200204,4023.0,20,2,B,1,200602.0,200602.0,1.0,50000000.0,154250.0,0.0,0.0,0.0,8.0
113007,112767,20517,1,보장,200204,4033.0,10,2,2,0,NaN,NaN,1.0,10000000.0,90100.0,0.0,0.0,0.0,7.0
113008,112768,1316,1,일반연금,200204,2309.0,10,2,B,1,200812.0,200508.0,1.0,2461560.0,20513.0,0.0,0.0,0.0,NaN
113009,112769,20760,1,보장,200204,2217.0,10,2,3,0,NaN,NaN,1.0,10000000.0,52000.0,0.0,0.0,0.0,0.0

In [19]:
# 소멸년월 값 존재 유무로 구분 (소멸한 적이 있으면 1 없으면 0)
custDF['EXTN_YM'] = custDF['EXTN_YM'].apply(lambda x: 0 if isNaN(x) else 1)

In [20]:
custDF

,POLY_NO,CUST_ID,CUST_ROLE,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,CNTT_STAT_CODE,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
1,2,5658,1,일반종신,200306,5900.0,15,1,B,1,1,NaN,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,일반연금,200307,5778.0,5,1,B,1,1,200605.0,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,일반종신,200306,4553.0,15,1,B,1,1,NaN,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,어린이,200306,3366.0,10,1,2,0,0,NaN,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0
5,6,10519,2,보장,200306,31270.0,10,1,2,0,0,NaN,1.0,30000000.0,61900.0,0.0,0.0,500000.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113005,112765,12297,1,보장,200204,4033.0,10,2,I,0,1,NaN,1.0,10000000.0,33600.0,0.0,0.0,0.0,3.0
113006,112766,9296,1,일반종신,200204,4023.0,20,2,B,1,1,200602.0,1.0,50000000.0,154250.0,0.0,0.0,0.0,8.0
113007,112767,20517,1,보장,200204,4033.0,10,2,2,0,0,NaN,1.0,10000000.0,90100.0,0.0,0.0,0.0,7.0
113008,112768,1316,1,일반연금,200204,2309.0,10,2,B,1,1,200508.0,1.0,2461560.0,20513.0,0.0,0.0,0.0,NaN
113009,112769,20760,1,보장,200204,2217.0,10,2,3,0,0,NaN,1.0,10000000.0,52000.0,0.0,0.0,0.0,0.0

In [21]:
# 실효년월 값 존재 유무로 구분 (실효된 적이 있으면 1 없으면 0)
custDF['LAPS_YM'] = custDF['LAPS_YM'].apply(lambda x: 0 if isNaN(x) else 1)

In [22]:
custDF

,POLY_NO,CUST_ID,CUST_ROLE,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,CNTT_STAT_CODE,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
1,2,5658,1,일반종신,200306,5900.0,15,1,B,1,1,0,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,일반연금,200307,5778.0,5,1,B,1,1,1,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,일반종신,200306,4553.0,15,1,B,1,1,0,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,어린이,200306,3366.0,10,1,2,0,0,0,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0
5,6,10519,2,보장,200306,31270.0,10,1,2,0,0,0,1.0,30000000.0,61900.0,0.0,0.0,500000.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113005,112765,12297,1,보장,200204,4033.0,10,2,I,0,1,0,1.0,10000000.0,33600.0,0.0,0.0,0.0,3.0
113006,112766,9296,1,일반종신,200204,4023.0,20,2,B,1,1,1,1.0,50000000.0,154250.0,0.0,0.0,0.0,8.0
113007,112767,20517,1,보장,200204,4033.0,10,2,2,0,0,0,1.0,10000000.0,90100.0,0.0,0.0,0.0,7.0
113008,112768,1316,1,일반연금,200204,2309.0,10,2,B,1,1,1,1.0,2461560.0,20513.0,0.0,0.0,0.0,NaN
113009,112769,20760,1,보장,200204,2217.0,10,2,3,0,0,0,1.0,10000000.0,52000.0,0.0,0.0,0.0,0.0

In [25]:

# 계약 상태코드 알파벳과 숫자가 혼재되어있어 전체 다 숫자로 변환 

#순서대로 
#유지(1),완납(2),납입면제(3),효력상실(4),만기경과(5)
#만기지급(6),해약(7),사망감소(8),장해감소(9),해지 (10)
#무효(11),정산(12),청약철회(13),반송(14),부활취소(15)

custDF['CNTT_STAT_CODE'].replace(9, 5, inplace = True)

custDF['CNTT_STAT_CODE'].replace('A', 6, inplace = True)

custDF['CNTT_STAT_CODE'].replace('B', 7, inplace = True)

custDF['CNTT_STAT_CODE'].replace('C', 8, inplace = True)

custDF['CNTT_STAT_CODE'].replace('D', 9, inplace = True)

custDF['CNTT_STAT_CODE'].replace('E', 10, inplace = True)

custDF['CNTT_STAT_CODE'].replace('G', 11, inplace = True)

custDF['CNTT_STAT_CODE'].replace('H', 12, inplace = True)

custDF['CNTT_STAT_CODE'].replace('I', 13, inplace = True)

custDF['CNTT_STAT_CODE'].replace('J', 14, inplace = True)

custDF['CNTT_STAT_CODE'].replace('L', 15, inplace = True)

In [26]:
custDF

,POLY_NO,CUST_ID,CUST_ROLE,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,CNTT_STAT_CODE,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
1,2,5658,1,일반종신,200306,5900.0,15,1,7,1,1,0,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,일반연금,200307,5778.0,5,1,7,1,1,1,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,일반종신,200306,4553.0,15,1,7,1,1,0,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,어린이,200306,3366.0,10,1,2,0,0,0,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0
5,6,10519,2,보장,200306,31270.0,10,1,2,0,0,0,1.0,30000000.0,61900.0,0.0,0.0,500000.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113005,112765,12297,1,보장,200204,4033.0,10,2,13,0,1,0,1.0,10000000.0,33600.0,0.0,0.0,0.0,3.0
113006,112766,9296,1,일반종신,200204,4023.0,20,2,7,1,1,1,1.0,50000000.0,154250.0,0.0,0.0,0.0,8.0
113007,112767,20517,1,보장,200204,4033.0,10,2,2,0,0,0,1.0,10000000.0,90100.0,0.0,0.0,0.0,7.0
113008,112768,1316,1,일반연금,200204,2309.0,10,2,7,1,1,1,1.0,2461560.0,20513.0,0.0,0.0,0.0,NaN
113009,112769,20760,1,보장,200204,2217.0,10,2,3,0,0,0,1.0,10000000.0,52000.0,0.0,0.0,0.0,0.0

In [29]:
custDF.drop(['DISTANCE'], axis=1, inplace = True)

In [30]:
custDF

,POLY_NO,CUST_ID,CUST_ROLE,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,CNTT_STAT_CODE,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT
1,2,5658,1,일반종신,200306,5900.0,15,1,7,1,1,0,1.0,50000000.0,118750.0,0.0,0.0,200000.0
2,3,4583,1,일반연금,200307,5778.0,5,1,7,1,1,1,1.0,42000000.0,700700.0,22.0,0.0,300000.0
3,4,14363,1,일반종신,200306,4553.0,15,1,7,1,1,0,1.0,50000000.0,102450.0,0.0,0.0,250000.0
4,5,1222,0,어린이,200306,3366.0,10,1,2,0,0,0,1.0,30000000.0,33750.0,3.0,0.0,150000.0
5,6,10519,2,보장,200306,31270.0,10,1,2,0,0,0,1.0,30000000.0,61900.0,0.0,0.0,500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113005,112765,12297,1,보장,200204,4033.0,10,2,13,0,1,0,1.0,10000000.0,33600.0,0.0,0.0,0.0
113006,112766,9296,1,일반종신,200204,4023.0,20,2,7,1,1,1,1.0,50000000.0,154250.0,0.0,0.0,0.0
113007,112767,20517,1,보장,200204,4033.0,10,2,2,0,0,0,1.0,10000000.0,90100.0,0.0,0.0,0.0
113008,112768,1316,1,일반연금,200204,2309.0,10,2,7,1,1,1,1.0,2461560.0,20513.0,0.0,0.0,0.0
113009,112769,20760,1,보장,200204,2217.0,10,2,3,0,0,0,1.0,10000000.0,52000.0,0.0,0.0,0.0

In [33]:
custDF.isnull().sum()

POLY_NO           0
CUST_ID           0
CUST_ROLE         0
GOOD_CLSF_CDNM    0
CNTT_YM           0
CLLT_FP_PRNO      0
REAL_PAYM_TERM    0
SALE_CHNL_CODE    0
CNTT_STAT_CODE    0
EXPR_YM           0
EXTN_YM           0
LAPS_YM           0
PAYM_CYCL_CODE    0
MAIN_INSR_AMT     0
SUM_ORIG_PREM     0
RECP_PUBL         0
CNTT_RECP         0
MNTH_INCM_AMT     0
dtype: int64

In [31]:
custDF.to_csv('ProcessedCNTTData.csv')