In [10]:
import numpy as np
import pandas as pd

### 데이터 변환

##### xlsx to csv   
##### csv to csv   


- 구분자 쉼표
- 인코딩 방식 UTF-8
- 결측치 NaN

In [43]:
file_name = 'Table_explan'
data_location = '../data/'
data_loctaion_convert = '../data_convert'

file = data_location + file_name
file_convert = data_loctaion_convert + file_name

In [44]:
data = pd.read_excel('{}.xlsx'.format(file))
#data = pd.read_csv('../data/{}.csv'.format(file_name))
#경우에 따라 사용
data.head()

,No,변수영문명,변수타입,변수명,변수 설명,비고
0,1,CUST_ID,N,고객ID,고객을 구분하는 고유번호,비 식별화 조치 시행
1,2,DIVIDED_SET,N,데이터셋 구분,학습용 Set의 경우 1번 // 평가용 Set의 경우 2번을 부여,NaN
2,3,SIU_CUST_YN,C,보험사기자여부,Y의 경우 '보험사기자' / N의 경우 '일반고객' /평가용 Set에는 미부여,NaN
3,4,SEX,N,성별,성별 1은 '남성' 2는 '여성',NaN
4,5,AGE,N,연령,고객연령,NaN

In [39]:
data.to_csv('{}convert.csv'.format(file_convert),sep=',',na_rep='',encoding='UTF-8',index=False)

In [40]:
data = pd.read_csv('{}convert.csv'.format(file_convert))
data.head()

,No,변수영문명,변수타입,변수명,변수 설명,비고
0,1,CUST_ID,N,고객ID,고객을 구분하는 고유번호,비 식별화 조치 시행
1,2,DIVIDED_SET,N,데이터셋 구분,학습용 Set의 경우 1번 // 평가용 Set의 경우 2번을 부여,NaN
2,3,SIU_CUST_YN,C,보험사기자여부,Y의 경우 '보험사기자' / N의 경우 '일반고객' /평가용 Set에는 미부여,NaN
3,4,SEX,N,성별,성별 1은 '남성' 2는 '여성',NaN
4,5,AGE,N,연령,고객연령,NaN