In [3]:
import pandas as pd

In [ ]:
from google.colab import files
#google colab사용
cust_data = files.upload()
#google colab에서 파일 업로드. 로컬 환경에서 할 시 csv파일을 main.py의 경로로 이동해줄 것

In [4]:
custDF = pd.read_csv("cust.22400.csv",  sep=',', encoding = 'utf-8', error_bad_lines=False, engine = 'python', header = None, names=['CUST_ID', 'DIVIDED_SET', 'SIU_CUST_YN', 'SEX', 'AGE', 'RESI_COST', 'RESI_TYPE_CODE', 'FP_CAREER', 'CUST_RGST', 'OCCP_GRP', 'TOTALPREM', 'WEDD_YN', 'MATE_OCCP_GRP', 'CHLD_CNT', 'LTBN_CHLD_AGE', 'MAX_PAYM_YM', 'MAX_PRM'])
#쉼표 구분이므로 구분자 ',', encoding방식 utf-8 고정, 라인 에러시 무시, 파이썬 엔진 사용으로 파싱, 헤더 미지정(컬럼명 별도 입력)
#csv파일 로딩시 별 문제 없으면 columns명 지정 필요 없이 첫 행을 columns로 바꾸면 됨 ex)df2 = df1.rename(columns=df1.iloc[0])
#알 수 없는 이유로 인해 첫 행이 단 하나의 value로 고정되고 나머지 17개의 데이터가 1개의 컬럼에 의해 종속되는 상황이 발생하여 개별 컬럼명 입력으로 컬럼 분할

/Users/gimjiseob/miniforge3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

FileNotFoundError: [Errno 2] No such file or directory: 'cust.22400.csv'

In [108]:
custDF = custDF.drop(custDF.index[0])

In [109]:
custDF

      CUST_ID  DIVIDED_SET SIU_CUST_YN  ...  LTBN_CHLD_AGE  MAX_PAYM_YM    MAX_PRM
1           1          1.0           N  ...           13.0     200811.0   319718.0
2           2          1.0           N  ...           17.0     200012.0   341341.0
3           3          1.0           N  ...            0.0     200305.0   131300.0
4           4          1.0           N  ...            0.0     201009.0  1493184.0
5           5          1.0           N  ...           19.0     200807.0   166760.0
...       ...          ...         ...  ...            ...          ...        ...
22396   20048          2.0         NaN  ...            0.0          NaN        NaN
22397   21483          1.0           N  ...            0.0          NaN        NaN
22398   21940          1.0           N  ...            0.0          NaN        NaN
22399   20356          1.0           N  ...            0.0          NaN        NaN
22400   17118          1.0           N  ...            0.0          NaN        NaN

[22400 rows x 17 columns]

In [110]:
custDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22400 entries, 1 to 22400
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CUST_ID         22400 non-null  object
 1   DIVIDED_SET     22400 non-null  float64
 2   SIU_CUST_YN     20607 non-null  object
 3   SEX             22400 non-null  float64
 4   AGE             22400 non-null  float64
 5   RESI_COST       22400 non-null  float64
 6   RESI_TYPE_CODE  21146 non-null  float64
 7   FP_CAREER       22400 non-null  object
 8   CUST_RGST       21944 non-null  float64
 9   OCCP_GRP        21805 non-null  object
 10  TOTALPREM       16609 non-null  float64
 11  WEDD_YN         21927 non-null  object
 12  MATE_OCCP_GRP   10573 non-null  object
 13  CHLD_CNT        21927 non-null  float64
 14  LTBN_CHLD_AGE   21927 non-null  float64
 15  MAX_PAYM_YM     15914 non-null  float64
 16  MAX_PRM         15914 non-null  float64
dtypes: float64(11), object(6)
memory usage: 3.1+ MB

In [111]:
#결측치 개수 확인
custDF.isnull().sum()

CUST_ID               0
DIVIDED_SET           0
SIU_CUST_YN        1793
SEX                   0
AGE                   0
RESI_COST             0
RESI_TYPE_CODE     1254
FP_CAREER             0
CUST_RGST           456
OCCP_GRP            595
TOTALPREM          5791
WEDD_YN             473
MATE_OCCP_GRP     11827
CHLD_CNT            473
LTBN_CHLD_AGE       473
MAX_PAYM_YM        6486
MAX_PRM            6486
dtype: int64

In [112]:
#AGE columns 내부 values를 몇십대인가의 기준으로 정수형 값 변환 함수. ex) 15 -> 10, 26 -> 20
custDF['AGE'] = (custDF['AGE']/10).astype(int)
#float값에서 10으로 나눈 후 정수형으로 바꿔주어 소숫점 제거
custDF['AGE']

1        4
2        5
3        6
4        6
5        5
        ..
22396    3
22397    3
22398    2
22399    1
22400    1
Name: AGE, Length: 22400, dtype: int64

In [113]:
custDF

      CUST_ID  DIVIDED_SET SIU_CUST_YN  ...  LTBN_CHLD_AGE  MAX_PAYM_YM    MAX_PRM
1           1          1.0           N  ...           13.0     200811.0   319718.0
2           2          1.0           N  ...           17.0     200012.0   341341.0
3           3          1.0           N  ...            0.0     200305.0   131300.0
4           4          1.0           N  ...            0.0     201009.0  1493184.0
5           5          1.0           N  ...           19.0     200807.0   166760.0
...       ...          ...         ...  ...            ...          ...        ...
22396   20048          2.0         NaN  ...            0.0          NaN        NaN
22397   21483          1.0           N  ...            0.0          NaN        NaN
22398   21940          1.0           N  ...            0.0          NaN        NaN
22399   20356          1.0           N  ...            0.0          NaN        NaN
22400   17118          1.0           N  ...            0.0          NaN        NaN

[22400 rows x 17 columns]

In [114]:
#중앙값으로 RESI_COST 컬럼 결측치 대체 가능(결측치 없으므로 실행 안함)
#custDF['RESI_COST'].fillna(custDF['RESI_COST'].median)

In [115]:
#456개의 CUST_RGST 컬럼에 대해 ROW 제거로 결측치 제거
custDF.dropna(subset = ['CUST_RGST'], inplace= True)
#dropna는 동일 주소를 이용하는 것이 아니므로 초기화 필요
#inplace 없으면 특정 데이터프레임 지정하지 않을 시 의미 없어짐

In [116]:
#결측치 개수 확인
#CUST_RGST 결측치 제거 확인
custDF.isnull().sum()

CUST_ID               0
DIVIDED_SET           0
SIU_CUST_YN        1756
SEX                   0
AGE                   0
RESI_COST             0
RESI_TYPE_CODE     1218
FP_CAREER             0
CUST_RGST             0
OCCP_GRP            139
TOTALPREM          5661
WEDD_YN              17
MATE_OCCP_GRP     11371
CHLD_CNT             17
LTBN_CHLD_AGE        17
MAX_PAYM_YM        6341
MAX_PRM            6341
dtype: int64

In [117]:
#Year는 기존 6자리 수에서 100을 나눠 4자리 수 float으로 만든 다음 정수형 형변환으로 소수점 삭제
Year = (custDF['CUST_RGST']/100).astype(int)
#Month는 적절한 산술 적용으로 달만 분리
Month = (custDF['CUST_RGST']-Year*100).astype(int)
#String 사용해서 index기준 parsing도 가능할 것

In [118]:
Year

1        1999
2        1999
3        1999
4        1999
5        1999
         ...
22396    2011
22397    2003
22398    2005
22399    2003
22400    2003
Name: CUST_RGST, Length: 21944, dtype: int64

In [119]:
Month

1        10
2        10
3        10
4        10
5        10
         ..
22396     3
22397     6
22398     1
22399     6
22400     6
Name: CUST_RGST, Length: 21944, dtype: int64

In [120]:
#새 컬럼 추가, 추출한 연, 월 데이터 입력
custDF['RGST_YEAR'] = Year
custDF['RGST_MONTH'] = Month

In [132]:
#456개의 CUST_RGST를 연과 월로 분할 저장 완료 했으므로 CUST_RGST 삭제
custDF.drop(['CUST_RGST'], axis=1, inplace = True)

In [122]:
#-------------- 직업별 정수형 라벨링 ---------------------------
# 결측치 포함 행 삭제
#사무직 1
#자영업 2
#주부 3
#교사 4
#예체능계 종사자 5
#운전직 6
#1차산업 종사자 7
#2차산업 종사자 8
#3차산업 종사자 9
#공무원 10
#고위 공무원 11
#단순 노무직 12
#기업/단체 임원 13
#고소득의료직 14
#전문직 15
#종교인/역술인 16
#대학교수/강사 17
#단순 사무직 18
#교육관련직 19
#학자/연구직 20
#학생 21
#법무직 종사자 22
#고소득 전문직 23
#의료직 종사자 24
#기타 25

#직업 추출에 사용된 출력문
#개선된 변수 확인 알고리즘 아이디어 있으신 분은 알려주시길(혹은 액셀 함수라도)
#for i in custDF['OCCP_GRP']: 
  #if i != '의료직 종사자' and i != '고소득 전문직' and i != '사무직' and i != None and i!='자영업' and i!='주부' and i!='교사' and i!='예체능계 종사자' and i!='운전직' and i!='1차산업 종사자' and i!='2차산업 종사자' and i!='3차산업 종사자' and i!='공무원' and i!='고위 공무원' and i!='단순 노무직' and i!='기업/단체 임원' and i!='고소득의료직' and i!='전문직' and i!='종교인/역술인' and i!='대학교수/강사' and i!='단순 사무직' and i!='교육관련직' and i!='학자/연구직' and i!='학생' and i!='법무직 종사자' and i!='기타' :
    #print(i)

In [123]:
#위 주석과 대응하는 정수형 라벨링(이 단계에서는 type casting 아직 안함)
custDF['OCCP_GRP'].replace('사무직', 1, inplace = True)
custDF['MATE_OCCP_GRP'].replace('사무직', 1, inplace = True)

custDF['OCCP_GRP'].replace('자영업', 2, inplace = True)
custDF['MATE_OCCP_GRP'].replace('자영업', 2, inplace = True)

custDF['OCCP_GRP'].replace('주부', 3, inplace = True)
custDF['MATE_OCCP_GRP'].replace('주부', 3, inplace = True)

custDF['OCCP_GRP'].replace('교사', 4, inplace = True)
custDF['MATE_OCCP_GRP'].replace('교사', 4, inplace = True)

custDF['OCCP_GRP'].replace('예체능계 종사자', 5, inplace = True)
custDF['MATE_OCCP_GRP'].replace('예체능계 종사자', 5, inplace = True)

custDF['OCCP_GRP'].replace('운전직', 6, inplace = True)
custDF['MATE_OCCP_GRP'].replace('운전직', 6, inplace = True)

custDF['OCCP_GRP'].replace('1차산업 종사자', 7, inplace = True)
custDF['MATE_OCCP_GRP'].replace('1차산업 종사자', 7, inplace = True)

custDF['OCCP_GRP'].replace('2차산업 종사자', 8, inplace = True)
custDF['MATE_OCCP_GRP'].replace('2차산업 종사자', 8, inplace = True)

custDF['OCCP_GRP'].replace('3차산업 종사자', 9, inplace = True)
custDF['MATE_OCCP_GRP'].replace('3차산업 종사자', 9, inplace = True)

custDF['OCCP_GRP'].replace('공무원', 10, inplace = True)
custDF['MATE_OCCP_GRP'].replace('공무원', 10, inplace = True)

custDF['OCCP_GRP'].replace('고위 공무원', 11, inplace = True)
custDF['MATE_OCCP_GRP'].replace('고위 공무원', 11, inplace = True)

custDF['OCCP_GRP'].replace('단순 노무직', 12, inplace = True)
custDF['MATE_OCCP_GRP'].replace('단순 노무직', 12, inplace = True)

custDF['OCCP_GRP'].replace('기업/단체 임원', 13, inplace = True)
custDF['MATE_OCCP_GRP'].replace('기업/단체 임원', 13, inplace = True)

custDF['OCCP_GRP'].replace('고소득의료직', 14, inplace = True)
custDF['MATE_OCCP_GRP'].replace('고소득의료직', 14, inplace = True)

custDF['OCCP_GRP'].replace('전문직', 15, inplace = True)
custDF['MATE_OCCP_GRP'].replace('전문직', 15, inplace = True)

custDF['OCCP_GRP'].replace('종교인/역술인', 16, inplace = True)
custDF['MATE_OCCP_GRP'].replace('종교인/역술인', 16, inplace = True)

custDF['OCCP_GRP'].replace('대학교수/강사', 17, inplace = True)
custDF['MATE_OCCP_GRP'].replace('대학교수/강사', 17, inplace = True)

custDF['OCCP_GRP'].replace('단순 사무직', 18, inplace = True)
custDF['MATE_OCCP_GRP'].replace('단순 사무직', 18, inplace = True)

custDF['OCCP_GRP'].replace('교육관련직', 19, inplace = True)
custDF['MATE_OCCP_GRP'].replace('교육관련직', 19, inplace = True)

custDF['OCCP_GRP'].replace('학자/연구직', 20, inplace = True)
custDF['MATE_OCCP_GRP'].replace('학자/연구직', 20, inplace = True)

custDF['OCCP_GRP'].replace('학생', 21, inplace = True)
custDF['MATE_OCCP_GRP'].replace('학생', 21, inplace = True)

custDF['OCCP_GRP'].replace('법무직 종사자', 22, inplace = True)
custDF['MATE_OCCP_GRP'].replace('법무직 종사자', 22, inplace = True)

custDF['OCCP_GRP'].replace('고소득 전문직', 23, inplace = True)
custDF['MATE_OCCP_GRP'].replace('고소득 전문직', 23, inplace = True)

custDF['OCCP_GRP'].replace('의료직 종사자', 24, inplace = True)
custDF['MATE_OCCP_GRP'].replace('의료직 종사자', 24, inplace = True)

custDF['OCCP_GRP'].replace('기타', 25, inplace = True)
custDF['MATE_OCCP_GRP'].replace('기타', 25, inplace = True)

In [124]:
#직업 관련 2개 컬럼 결측치 제거
custDF.dropna(subset = ['OCCP_GRP', 'MATE_OCCP_GRP'], inplace= True)

In [125]:
#직업 관련 2개 컬럼 type casting
custDF['OCCP_GRP'] = custDF['OCCP_GRP'].astype(int)
custDF['MATE_OCCP_GRP'] = custDF['MATE_OCCP_GRP'].astype(int)

In [126]:
#결측치 제거 완료
custDF.isnull().sum()

CUST_ID              0
DIVIDED_SET          0
SIU_CUST_YN        850
SEX                  0
AGE                  0
RESI_COST            0
RESI_TYPE_CODE     450
FP_CAREER            0
CUST_RGST            0
OCCP_GRP             0
TOTALPREM         1225
WEDD_YN              0
MATE_OCCP_GRP        0
CHLD_CNT             0
LTBN_CHLD_AGE        0
MAX_PAYM_YM       1570
MAX_PRM           1570
RGST_YEAR            0
RGST_MONTH           0
dtype: int64

In [127]:
#1000만단위 라벨링 (ex)176만 -> 0, 1700만 -> 1, 3억 -> 30 ...)
custDF.dropna(subset = ['TOTALPREM'], inplace = True)
custDF['TOTALPREM'] = (custDF['TOTALPREM']/10000000).astype(int)

In [134]:
#WEDD_YN, RESI_TYPE_CODE에 대하여 결측치 삭제
custDF.dropna(subset = ['WEDD_YN'], inplace = True)
custDF.dropna(subset = ['RESI_TYPE_CODE'], inplace = True)

In [135]:
custDF.isnull().sum()

CUST_ID             0
DIVIDED_SET         0
SIU_CUST_YN       712
SEX                 0
AGE                 0
RESI_COST           0
RESI_TYPE_CODE      0
FP_CAREER           0
OCCP_GRP            0
TOTALPREM           0
WEDD_YN             0
MATE_OCCP_GRP       0
CHLD_CNT            0
LTBN_CHLD_AGE       0
MAX_PAYM_YM       471
MAX_PRM           471
RGST_YEAR           0
RGST_MONTH          0
dtype: int64

In [138]:
#MAX_PAYM_YM 결측치 ROW제거
custDF.dropna(subset = ['MAX_PAYM_YM'], inplace = True)

In [139]:
#MAX_PAYM_YM에 관한 최대 보험료 연월을 2개 컬럼으로 분리
#분리 방법은 위 연월 분리 메소드와 동일
Year = (custDF['MAX_PAYM_YM']/100).astype(int)
Month = (custDF['MAX_PAYM_YM']-Year*100).astype(int)

In [144]:
#새 컬럼 추가 후 데이터 삽입
custDF['MAX_PAYM_YEAR'] =  Year
custDF['MAX_PAYM_MONTH'] = Month

In [145]:
#컬럼 분리 완료했으므로 오리지널 컬럼 삭제
custDF.drop(['MAX_PAYM_YM'], axis=1, inplace = True)

In [147]:
custDF.isnull().sum()

CUST_ID             0
DIVIDED_SET         0
SIU_CUST_YN       677
SEX                 0
AGE                 0
RESI_COST           0
RESI_TYPE_CODE      0
FP_CAREER           0
OCCP_GRP            0
TOTALPREM           0
WEDD_YN             0
MATE_OCCP_GRP       0
CHLD_CNT            0
LTBN_CHLD_AGE       0
MAX_PRM             0
RGST_YEAR           0
RGST_MONTH          0
MAX_PAYM_YEAR       0
MAX_PAYM_MONTH      0
dtype: int64

In [ ]:
#월 최대 납입 보험료는 결측치 없는 것으로 확인됨

In [150]:
#월 최대 납입 보험료 10만단위 라벨링, 메소드는 위 범위 기반 라벨링 코드와 동일
custDF['MAX_PRM'] = (custDF['MAX_PRM']/100000).astype(int)

In [152]:
#Test, train set으로 분리할 SIU_CUST_YN 제외 모든 결측치 제거된 것 최종 확인
custDF.isnull().sum()

CUST_ID             0
DIVIDED_SET         0
SIU_CUST_YN       677
SEX                 0
AGE                 0
RESI_COST           0
RESI_TYPE_CODE      0
FP_CAREER           0
OCCP_GRP            0
TOTALPREM           0
WEDD_YN             0
MATE_OCCP_GRP       0
CHLD_CNT            0
LTBN_CHLD_AGE       0
MAX_PRM             0
RGST_YEAR           0
RGST_MONTH          0
MAX_PAYM_YEAR       0
MAX_PAYM_MONTH      0
dtype: int64

In [154]:
custDF.to_csv('ProcessedCustData.csv')

In [155]:
files.download('ProcessedCustData.csv')