In [29]:
# Data
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

#warning
import warnings
warnings.filterwarnings('ignore')

In [30]:
# 에디터 이용시 아래 코드로 대체
#uploaded = pd.read_csv('human_activity/features.txt', sep='\s+', header=None, names=['column_index', 'column_name'])
features = pd.read_csv('merged_claim_data.csv', sep = ',', encoding = 'utf-8', error_bad_lines=False, engine = 'python', header = None)
features = features.rename(columns=features.iloc[0])
features = features.drop(features.index[0])#첫 row는 컬럼명이 들어간 더미데이터이므로 삭제
features = features.astype('float')

In [31]:
features

,NaN,CUST_ID,SIU_CUST_YN,SEX,AGE,FP_CAREER,MAX_PRM,RESL_CD1,ACCI_OCCP_GRP,CHME_LICE_NO,DMND_AMT,PAYM_AMT,NON_PAY_RATIO,HEED_HOSP_YN,CLAIM_CNT,TOTAL_VLID_HOSP_OTDA,HOSP_VARIES,HOSP_DVSN_VARIES,CHME_LICE_COUNT
1,0.0,5936.0,0.0,1.0,22.0,0.0,1.0,83.0,21.0,1.0,0.0,0.0,0.0,0.0,6.0,12.0,1.0,1.0,2.0
2,1.0,1043.0,0.0,2.0,44.0,0.0,1.0,65.0,3.0,1.0,0.0,0.0,0.0,0.0,10.0,111.0,5.0,5.0,7.0
3,2.0,8545.0,0.0,2.0,56.0,0.0,2.0,73.0,3.0,2.0,2.0,2.0,0.0,0.0,2.0,0.0,2.0,2.0,2.0
4,5.0,20267.0,1.0,2.0,58.0,1.0,7.0,73.0,3.0,2.0,16.0,16.0,0.0,0.0,43.0,805.0,15.0,5.0,23.0
5,7.0,9019.0,0.0,2.0,59.0,0.0,2.0,73.0,21.0,0.0,1.0,1.0,0.0,0.0,12.0,168.0,4.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14532,21934.0,14012.0,0.0,1.0,55.0,0.0,1.0,73.0,6.0,1.0,3.0,3.0,0.0,0.0,2.0,9.0,1.0,1.0,1.0
14533,21938.0,15203.0,0.0,2.0,55.0,0.0,4.0,75.0,3.0,0.0,1.0,1.0,0.0,0.0,2.0,4.0,1.0,1.0,1.0
14534,21939.0,16048.0,0.0,1.0,61.0,0.0,0.0,83.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,8.0,1.0,1.0,1.0
14535,21940.0,2924.0,0.0,2.0,54.0,0.0,19.0,74.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,12.0,1.0,1.0,1.0
14536,21941.0,6451.0,0.0,2.0,53.0,0.0,4.0,75.0,9.0,1.0,0.0,0.0,0.0,0.0,3.0,6.0,1.0,1.0,1.0

In [32]:
#학습 및 테스트용 데이터를 데이터 프레임으로 로딩
features = features[['SIU_CUST_YN','SEX','AGE','FP_CAREER','MAX_PRM','RESL_CD1','ACCI_OCCP_GRP','CHME_LICE_NO','DMND_AMT','PAYM_AMT','NON_PAY_RATIO','HEED_HOSP_YN','CLAIM_CNT','TOTAL_VLID_HOSP_OTDA','HOSP_VARIES','HOSP_DVSN_VARIES','CHME_LICE_COUNT']]

In [33]:
corr_data = features.corr()
corr_data = corr_data.apply(lambda x: round(x ,2))
corr_data

,SIU_CUST_YN,SEX,AGE,FP_CAREER,MAX_PRM,RESL_CD1,ACCI_OCCP_GRP,CHME_LICE_NO,DMND_AMT,PAYM_AMT,NON_PAY_RATIO,HEED_HOSP_YN,CLAIM_CNT,TOTAL_VLID_HOSP_OTDA,HOSP_VARIES,HOSP_DVSN_VARIES,CHME_LICE_COUNT
SIU_CUST_YN,1.00,0.04,0.02,0.06,0.02,0.07,-0.04,-0.02,-0.00,-0.00,-0.07,0.02,0.37,0.43,0.41,0.34,0.42
SEX,0.04,1.00,0.08,0.18,0.03,-0.11,-0.10,-0.01,-0.01,-0.01,0.03,-0.02,0.03,0.01,0.06,0.06,0.05
AGE,0.02,0.08,1.00,0.07,0.02,-0.08,-0.35,-0.04,0.06,0.06,-0.12,0.02,0.09,0.12,0.07,0.07,0.09
FP_CAREER,0.06,0.18,0.07,1.00,0.09,0.00,-0.04,-0.00,-0.00,-0.00,-0.02,-0.00,0.09,0.07,0.07,0.08,0.07
MAX_PRM,0.02,0.03,0.02,0.09,1.00,-0.01,-0.02,0.00,-0.01,-0.01,0.01,-0.00,0.06,0.01,0.03,0.04,0.03
RESL_CD1,0.07,-0.11,-0.08,0.00,-0.01,1.00,0.05,-0.02,-0.10,-0.10,-0.11,-0.02,-0.03,0.03,0.03,0.04,-0.01
ACCI_OCCP_GRP,-0.04,-0.10,-0.35,-0.04,-0.02,0.05,1.00,0.02,-0.02,-0.02,0.01,-0.01,-0.03,-0.04,-0.03,-0.03,-0.03
CHME_LICE_NO,-0.02,-0.01,-0.04,-0.00,0.00,-0.02,0.02,1.00,0.00,0.00,0.11,-0.00,-0.01,-0.02,0.00,-0.00,-0.00
DMND_AMT,-0.00,-0.01,0.06,-0.00,-0.01,-0.10,-0.02,0.00,1.00,1.00,-0.03,0.02,0.01,0.02,-0.03,-0.03,-0.01
PAYM_AMT,-0.00,-0.01,0.06,-0.00,-0.01,-0.10,-0.02,0.00,1.00,1.00,-0.03,0.02,0.01,0.02,-0.02,-0.03,-0.01
NON_PAY_RATIO,-0.07,0.03,-0.12,-0.02,0.01,-0.11,0.01,0.11,-0.03,-0.03,1.00,-0.02,-0.05,-0.09,-0.01,-0.03,-0.04
HEED_HOSP_YN,0.02,-0.02,0.02,-0.00,-0.00,-0.02,-0.01,-0.00,0.02,0.02,-0.02,1.00,0.01,0.01,-0.01,-0.01,0.00
CLAIM_CNT,0.37,0.03,0.09,0.09,0.06,-0.03,-0.03,-0.01,0.01,0.01,-0.05,0.01,1.00,0.82,0.80,0.67,0.85
TOTAL_VLID_HOSP_OTDA,0.43,0.01,0.12,0.07,0.01,0.03,-0.04,-0.02,0.02,0.02,-0.09,0.01,0.82,1.00,0.67,0.53,0.73
HOSP_VARIES,0.41,0.06,0.07,0.07,0.03,0.03,-0.03,0.00,-0.03,-0.02,-0.01,-0.01,0.80,0.67,1.00,0.83,0.94
HOSP_DVSN_VARIES,0.34,0.06,0.07,0.08,0.04,0.04,-0.03,-0.00,-0.03,-0.03,-0.03,-0.01,0.67,0.53,0.83,1.00,0.78
CHME_LICE_COUNT,0.42,0.05,0.09,0.07,0.03,-0.01,-0.03,-0.00,-0.01,-0.01,-0.04,0.00,0.85,0.73,0.94,0.78,1.00

In [34]:
corr_data.to_csv('corr_data.csv')

In [35]:
s = corr_data.unstack()
s

SIU_CUST_YN      SIU_CUST_YN             1.00
                 SEX                     0.04
                 AGE                     0.02
                 FP_CAREER               0.06
                 MAX_PRM                 0.02
                                         ...
CHME_LICE_COUNT  CLAIM_CNT               0.85
                 TOTAL_VLID_HOSP_OTDA    0.73
                 HOSP_VARIES             0.94
                 HOSP_DVSN_VARIES        0.78
                 CHME_LICE_COUNT         1.00
Length: 289, dtype: float64

In [36]:
# 변수간의 상관관계
df = pd.DataFrame(s[s < 1].sort_values(ascending=False), columns=['corr'])
df.style.background_gradient(cmap='viridis')